// Variables
@import '_variables.scss';

$dark-color: darken($dark-color, 80%);

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba($dark-color, 0.5);

    .modal-content {
        background-color: $light-color;
        text-align: center;
        margin: 10% auto;
        width: 350px;
        border-radius: 10px;
        padding: 3rem;
        box-shadow: 0 5px 8px 0 rgba($dark-color, 0.2),
                    0 7px 20px 0 rgba($dark-color, 0.2);
        animation-name: open-modal;
        animation-duration: 1s;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }
}

@keyframes open-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

